# Ignore everything
/*

# ./profilesCherno/*
# ./profilesNamalsk/*
# ./profilesTakistan/*

# But not these files...
!.gitignore
!script.pl
!template.latex
# etc...

!serverDZNamalskReloaded.cfg
!serverDZChernoReloaded.cfg
!serverDZTakistanReloaded.cfg

!startChernarusPlusReloaded.bat
!startTakistanPlusReloaded.bat
!startNamalskReloaded.bat

!/keys
!/mpmissions
mpmissions/*
!mpmissions/ExpansionDNM.enoch
!mpmissions/ExpansionDNM.chernarusplus
!mpmissions/ExpansionReloaded.chernarusplus
!mpmissions/ExpansionReloaded.namalsk
!mpmissions/ExpansionReloaded.TakistanPlus

!/profilesNamalsk
profilesNamalsk/*
!/profilesNamalsk/ADMPParachute
!/profilesNamalsk/AIMissions
!/profilesNamalsk/AirborneAI
!/profilesNamalsk/AirRaid
!/profilesNamalsk/BuildingFortifications
!/profilesNamalsk/CJ_LootChests
!/profilesNamalsk/Cofeesw
!/profilesNamalsk/Drones
!/profilesNamalsk/EarlyWinterChernarus
!/profilesNamalsk/ExpansionMod
!/profilesNamalsk/PermissionsFramework
!/profilesNamalsk/RaG_Immersive_Vehicles
!/profilesNamalsk/sUDE
!/profilesNamalsk/Zenarchist
!/profilesNamalsk/ZombieSpawnTool
!/profilesNamalsk/NamalskSoundHard
!/profilesNamalsk/Users

!/profilesChernarus
profilesChernarus/*
!/profilesChernarus/ADMPParachute
!/profilesChernarus/AIMissions
!/profilesChernarus/AirborneAI
!/profilesChernarus/AirRaid
!/profilesChernarus/BuildingFortifications
!/profilesChernarus/CJ_LootChests
!/profilesChernarus/Cofeesw
!/profilesChernarus/Drones
!/profilesChernarus/EarlyWinterChernarus
!/profilesChernarus/ExpansionMod
!/profilesChernarus/PermissionsFramework
!/profilesChernarus/RaG_Immersive_Vehicles
!/profilesChernarus/sUDE
!/profilesChernarus/Zenarchist
!/profilesChernarus/ZombieSpawnTool
!/profilesChernarus/ChernarusSoundHard
!/profilesChernarus/Users

!/profilesTakistan
profilesTakistan/*
!/profilesTakistan/ADMPParachute
!/profilesTakistan/AIMissions
!/profilesTakistan/AirborneAI
!/profilesTakistan/AirRaid
!/profilesTakistan/BuildingFortifications
!/profilesTakistan/CJ_LootChests
!/profilesTakistan/Cofeesw
!/profilesTakistan/Drones
!/profilesTakistan/EarlyWinterChernarus
!/profilesTakistan/ExpansionMod
!/profilesTakistan/PermissionsFramework
!/profilesTakistan/RaG_Immersive_Vehicles
!/profilesTakistan/sUDE
!/profilesTakistan/Zenarchist
!/profilesTakistan/ZombieSpawnTool
!/profilesTakistan/TakistanSoundHard
!/profilesTakistan/Users


*log*
**/storage_1/