# Ignore everything
/*


# ./profilesCherno/*
# ./profilesTakistan/*

# But not these files...
!.gitignore
!script.pl
!template.latex
# etc...

!serverDZCherno.cfg
!serverDZTakistan.cfg
!startEarlyWinterChernarus.bat
!startTakistanPlus.bat

!/keys

!/profilesCherno
profilesCherno/*
!/profilesCherno/AIMissions
!/profilesCherno/AirRaid
!/profilesCherno/BattlEye
!/profilesCherno/BuildingFortifications
!/profilesCherno/CommunityOnlineTools
!/profilesCherno/DataCache
!/profilesCherno/Dayz-Dog
!/profilesCherno/Dayz-Horse
!/profilesCherno/EarlyWinterChernarus
!/profilesCherno/EventManagerLog
!/profilesCherno/ExpansionMod
!/profilesCherno/PermissionsFramework
!/profilesCherno/PvZmoD_CustomisableZombies_Profile
!/profilesCherno/PvZmoD_Information_Panel
!/profilesCherno/TakistanSoundHard
!/profilesCherno/Users
!/profilesCherno/WebApiLog

!/profilesTakistan
profilesTakistan/*
!/profilesTakistan/AIMissions
!/profilesTakistan/AirRaid
!/profilesTakistan/BattlEye
!/profilesTakistan/BuildingFortifications
!/profilesTakistan/CommunityOnlineTools
!/profilesTakistan/DataCache
!/profilesTakistan/Dayz-Dog
!/profilesTakistan/Dayz-Horse
!/profilesTakistan/EarlyWinterChernarus
!/profilesTakistan/EventManagerLog
!/profilesTakistan/ExpansionMod
!/profilesTakistan/PermissionsFramework
!/profilesTakistan/PvZmoD_CustomisableZombies_Profile
!/profilesTakistan/PvZmoD_Information_Panel
!/profilesTakistan/TakistanSoundHard
!/profilesTakistan/Users
!/profilesTakistan/WebApiLog


!/mpmissions
mpmissions/*
!/mpmissions/ExpansionDNM.TakistanPlus
!/mpmissions/ExpansionDNM.chernarusplus